<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>Concerts</servlet-name>
        <servlet-class>proj.concert.webapp.ConcertsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>proj.concert.webapp.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>proj.concert.webapp.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>proj.concert.webapp.BookingServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Concerts</servlet-name>
        <url-pattern>/Concerts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Concerts</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/BookSeats</url-pattern>
    </servlet-mapping>
</web-app>
